{% extends 'home/base.html' %}
{% load i18n %}

{% block content %}
<h2>{% trans "Registrar usuario" %}</h2>
<form action="" method="post">
    {% csrf_token %}
    <div class="row">
        <label for="">{% trans "Nombre de Usuario" %}</label>
        {{ form.username }}
        
        {% if form.username.errors %}
        <p style="color: red">{{ form.username.errors }}</p>
        {% endif %}
    </div>

    <div class="row">
        <label for="">{% trans "Email" %}</label>
        {{ form.email }}
        
        {% if form.email.errors %}
        <p style="color: red">{{ form.email.errors }}</p>
        {% endif %}
    </div>
        
    <div class="row">
        <label for="">{% trans "Contraseña" %}</label>
        {{ form.password1 }}
        
        {% if form.password1.errors %}
        <p style="color: red">{{ form.password1.errors }}</p>
        {% endif %}
    </div>

    <div class="row">
        <label for="">{% trans "Repita su contraseña" %}</label>
        {{ form.password2 }}
        
        {% if form.password2.errors %}
        <p style="color: red">{{ form.password2.errors }}</p>
        {% endif %}
    </div>

    <div class="row">
        <label for="">{% trans "Nombre" %}</label>
        {{ form.first_name }}
    </div>
        
    <div class="row">
        <label for="">{% trans "Apellido" %}</label>
        {{ form.last_name }}
    </div>

    <div class="row all">
        <button type="submit" class="btn btn-success">{% trans "Registrar Usuario" %}</button>
    </div>
</form>
{% endblock %}